# Обработка данных по объемам

Обработка объемных данных для выявления дней повышенной волатильности. Идея в том, чтобы найти дни в которые проходят большие объемы и есть идея направления движения.

In [82]:
import sqlite3
import pandas as pd
import numpy as np

In [83]:
# Установить соединение с базой данных
conn = sqlite3.connect(r'C:\Users\Alkor\gd\data_quote_db\RTS_futures_minute.db')

# SQL-запрос для извлечения данных
# query = "SELECT TRADEDATE, VOLUME FROM Minute"
query = "SELECT * FROM Minute"

# Загрузить данные в DataFrame
df = pd.read_sql_query(query, conn)

# Закрыть соединение
conn.close()

# Прописные в названиях колонок ---------------------------
df.columns = map(str.lower, df.columns)

df
# print(df.to_string(max_rows=10, max_cols=20))

,tradedate,secid,open,low,high,close,volume,lsttrade
0,2015-01-05 10:00:00,RIH5_2015,78450.0,74320.0,78450.0,74670.0,5970,2015-03-16
1,2015-01-05 10:01:00,RIH5_2015,74670.0,73520.0,74730.0,73580.0,3455,2015-03-16
2,2015-01-05 10:02:00,RIH5_2015,73560.0,73200.0,73570.0,73360.0,2721,2015-03-16
3,2015-01-05 10:03:00,RIH5_2015,73380.0,73250.0,74110.0,73670.0,4008,2015-03-16
4,2015-01-05 10:04:00,RIH5_2015,73650.0,73540.0,74000.0,73930.0,1471,2015-03-16
...,...,...,...,...,...,...,...,...
2029935,2024-12-17 23:45:00,RIZ4,72810.0,72810.0,72820.0,72820.0,15,2024-12-19
2029936,2024-12-17 23:46:00,RIZ4,72820.0,72820.0,72840.0,72830.0,192,2024-12-19
2029937,2024-12-17 23:47:00,RIZ4,72810.0,72800.0,72840.0,72840.0,82,2024-12-19
2029938,2024-12-17 23:48:00,RIZ4,72850.0,72790.0,72860.0,72840.0,69,2024-12-19
2029939,2024-12-17 23:49:00,RIZ4,72840.0,72800.0,72850.0,72850.0,42,2024-12-19

In [84]:
df['tradedate'] = pd.to_datetime(df['tradedate'])

# Добавление колонки с датой
df['date'] = df['tradedate'].dt.date

# Добавление колонки с временем
df['time'] = df['tradedate'].dt.time

df

,tradedate,secid,open,low,high,close,volume,lsttrade,date,time
0,2015-01-05 10:00:00,RIH5_2015,78450.0,74320.0,78450.0,74670.0,5970,2015-03-16,2015-01-05,10:00:00
1,2015-01-05 10:01:00,RIH5_2015,74670.0,73520.0,74730.0,73580.0,3455,2015-03-16,2015-01-05,10:01:00
2,2015-01-05 10:02:00,RIH5_2015,73560.0,73200.0,73570.0,73360.0,2721,2015-03-16,2015-01-05,10:02:00
3,2015-01-05 10:03:00,RIH5_2015,73380.0,73250.0,74110.0,73670.0,4008,2015-03-16,2015-01-05,10:03:00
4,2015-01-05 10:04:00,RIH5_2015,73650.0,73540.0,74000.0,73930.0,1471,2015-03-16,2015-01-05,10:04:00
...,...,...,...,...,...,...,...,...,...,...
2029935,2024-12-17 23:45:00,RIZ4,72810.0,72810.0,72820.0,72820.0,15,2024-12-19,2024-12-17,23:45:00
2029936,2024-12-17 23:46:00,RIZ4,72820.0,72820.0,72840.0,72830.0,192,2024-12-19,2024-12-17,23:46:00
2029937,2024-12-17 23:47:00,RIZ4,72810.0,72800.0,72840.0,72840.0,82,2024-12-19,2024-12-17,23:47:00
2029938,2024-12-17 23:48:00,RIZ4,72850.0,72790.0,72860.0,72840.0,69,2024-12-19,2024-12-17,23:48:00
2029939,2024-12-17 23:49:00,RIZ4,72840.0,72800.0,72850.0,72850.0,42,2024-12-19,2024-12-17,23:49:00

Создаем колонку с перцентилем объема к выборке за 30 последних значений с таким же временем.

In [85]:
# Группировка по времени
df["percentile"] = (
    df.groupby("time")["volume"]
    .rolling(window=30, min_periods=1)  # Используем скользящее окно
    .apply(lambda x: (x <= x.iloc[-1]).mean() * 100)  # Рассчёт перцентиля
    .reset_index(level=0, drop=True)  # Сбрасываем лишний индекс
)

Создаем колонку со средними значениями предыдущих строк колонки percentile за каждый день

In [86]:
# Группировка по дате и расчёт среднего
df["avg_percentile"] = (
    df.groupby("date")["percentile"]  # Группировка по дате
    # .shift()  # Если текущая строка не должна учитываться при расчёте среднего (сдвиг)
    .expanding()  # Нарастающее среднее внутри каждой группы
    .mean()  # Среднее
    .reset_index(level=0, drop=True)  # Сбрасываем лишний индекс
)

In [87]:
# Округление значений в указанных колонках до двух знаков
df[["percentile", "avg_percentile"]] = df[["percentile", "avg_percentile"]].round(2)

df

,tradedate,secid,open,low,high,close,volume,lsttrade,date,time,percentile,avg_percentile
0,2015-01-05 10:00:00,RIH5_2015,78450.0,74320.0,78450.0,74670.0,5970,2015-03-16,2015-01-05,10:00:00,100.00,100.00
1,2015-01-05 10:01:00,RIH5_2015,74670.0,73520.0,74730.0,73580.0,3455,2015-03-16,2015-01-05,10:01:00,100.00,100.00
2,2015-01-05 10:02:00,RIH5_2015,73560.0,73200.0,73570.0,73360.0,2721,2015-03-16,2015-01-05,10:02:00,100.00,100.00
3,2015-01-05 10:03:00,RIH5_2015,73380.0,73250.0,74110.0,73670.0,4008,2015-03-16,2015-01-05,10:03:00,100.00,100.00
4,2015-01-05 10:04:00,RIH5_2015,73650.0,73540.0,74000.0,73930.0,1471,2015-03-16,2015-01-05,10:04:00,100.00,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...
2029935,2024-12-17 23:45:00,RIZ4,72810.0,72810.0,72820.0,72820.0,15,2024-12-19,2024-12-17,23:45:00,16.67,44.07
2029936,2024-12-17 23:46:00,RIZ4,72820.0,72820.0,72840.0,72830.0,192,2024-12-19,2024-12-17,23:46:00,90.00,44.12
2029937,2024-12-17 23:47:00,RIZ4,72810.0,72800.0,72840.0,72840.0,82,2024-12-19,2024-12-17,23:47:00,90.00,44.18
2029938,2024-12-17 23:48:00,RIZ4,72850.0,72790.0,72860.0,72840.0,69,2024-12-19,2024-12-17,23:48:00,76.67,44.22
2029939,2024-12-17 23:49:00,RIZ4,72840.0,72800.0,72850.0,72850.0,42,2024-12-19,2024-12-17,23:49:00,26.67,44.20

In [88]:
# # Запись в Excel
# df.head(2000).to_excel('example.xlsx')

# Сохраняем первые строки в CSV
df.iloc[:3000].to_csv("head_df.csv", index=False)

# Сохраняем последние 3000 строк в CSV
df.tail(3000).to_csv("last_rows.csv", index=False)

Создаем список из значений колонки date где значение avg_percentile на 60 строке за дату больше либо равно 75.

In [89]:
# Фильтрация дат, где значение avg_percentile на 60-й строке >= 75
datetime_list = (
    df.groupby("date")  # Группировка по дате
    .nth(59)  # Выбор 60-й строки (индексация с нуля)
    .query("avg_percentile >= 75")  # Фильтр по условию
    # .index.tolist()  # Преобразование индекса в список
    .date.tolist()  # Преобразование дат в список
)

unique_values = df["date"].nunique()


# Преобразование в формат "ГГГГ-ММ-ДД" и печать
dates_list = [dt.strftime("%Y-%m-%d") for dt in datetime_list]
print(f"Список дат:, {dates_list}")
print("Длина списка:", len(dates_list))
print(f"Уникальные значения в колонке date: {unique_values}")
print(len(dates_list) / unique_values)

Список дат:, ['2015-01-05', '2015-01-26', '2015-02-06', '2015-02-09', '2015-02-12', '2015-03-26', '2015-04-09', '2015-04-10', '2015-04-13', '2015-06-22', '2015-07-08', '2015-07-28', '2015-08-03', '2015-08-24', '2015-09-01', '2016-01-18', '2016-01-19', '2016-01-20', '2016-01-21', '2016-01-22', '2016-01-25', '2016-01-29', '2016-03-17', '2016-04-13', '2016-04-18', '2016-04-20', '2016-04-21', '2016-11-09', '2016-12-12', '2017-02-28', '2017-03-09', '2017-03-10', '2017-11-08', '2018-01-18', '2018-01-25', '2018-01-26', '2018-02-06', '2018-02-26', '2018-04-09', '2018-04-10', '2018-06-19', '2018-08-09', '2018-08-10', '2018-08-13', '2018-10-11', '2018-11-26', '2019-02-14', '2019-07-12', '2019-07-25', '2019-08-02', '2020-01-21', '2020-01-23', '2020-01-29', '2020-01-30', '2020-02-03', '2020-02-10', '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02', '2020-03-06', '2020-03-12', '2020-03-13', '2020-03-20', '2020-04-16', '2020-05-21', '2020-06-11', '2020-09-24', '2021-01-28', '2021-03-01', '2021-03-02', '2021-03-04', '2021-03-24', '2021-04-12', '2021-04-15', '2021-04-19', '2021-06-03', '2021-06-14', '2021-07-26', '2021-08-04', '2021-08-09', '2021-09-20', '2021-10-01', '2021-10-06', '2021-11-26', '2021-11-29', '2021-12-01', '2021-12-14', '2022-01-06', '2022-01-14', '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-25', '2022-02-14', '2022-02-21', '2022-02-22', '2022-04-21', '2022-05-12', '2022-05-31', '2022-06-09', '2022-09-21', '2022-11-07', '2023-01-23', '2023-02-09', '2023-02-28', '2023-04-03', '2023-05-30', '2023-06-26', '2023-07-11', '2023-07-17', '2023-08-07', '2023-09-12', '2023-09-13', '2024-02-26', '2024-03-25', '2024-06-05', '2024-06-13', '2024-07-11', '2024-07-16', '2024-08-26', '2024-09-03', '2024-10-28', '2024-11-06', '2024-11-25', '2024-11-26', '2024-11-27', '2024-11-28']
Длина списка: 130
Уникальные значения в колонке date: 2499
0.05202080832332933

# Конвертирование 1 минутных котировок в 5 минутные

In [90]:
# Убедимся, что колонка  tradedate имеет тип datetime
df["tradedate"] = pd.to_datetime(df["tradedate"])

# Устанавливаем  tradedate как индекс
df.set_index("tradedate", inplace=True)

# Агрегирование до 5-минутных баров
df_m5 = df.resample("5min").agg({
    "open": "first",    # Первая цена в периоде
    "high": "max",      # Максимальная цена
    "low": "min",       # Минимальная цена
    "close": "last",    # Последняя цена
    "volume": "sum",    # Суммарный объём
})

# Сбрасываем индекс
df_m5 = df_m5.reset_index()

df_m5

                  tradedate     open     high      low    close  volume
0       2015-01-05 10:00:00  78450.0  78450.0  73200.0  73930.0   17625
1       2015-01-05 10:05:00  73890.0  74700.0  73660.0  74700.0    7143
2       2015-01-05 10:10:00  74700.0  74720.0  73830.0  73950.0    4584
3       2015-01-05 10:15:00  73970.0  74440.0  73620.0  74430.0    4213
4       2015-01-05 10:20:00  74400.0  74720.0  74220.0  74410.0    4498
...                     ...      ...      ...      ...      ...     ...
1046753 2024-12-17 23:25:00  72680.0  72720.0  72680.0  72690.0     423
1046754 2024-12-17 23:30:00  72680.0  72690.0  72670.0  72690.0      69
1046755 2024-12-17 23:35:00  72700.0  72790.0  72690.0  72790.0     357
1046756 2024-12-17 23:40:00  72800.0  72820.0  72760.0  72810.0     228
1046757 2024-12-17 23:45:00  72810.0  72860.0  72790.0  72850.0     400

[1046758 rows x 6 columns]

### TVI

In [91]:
def calculate_ema(series, period):
    """
    Вычисляет экспоненциальное скользящее среднее (EMA) для указанного ряда данных.
    """
    return series.ewm(span=period, adjust=False).mean()

def add_tvi_column(df, r=12, s=12, u=5, point=0.0001):
    """
    Добавляет колонку TVI в DataFrame.
    
    :param df: DataFrame с колонками ['open', 'close', 'volume']
    :param r: Период для EMA для UpTicks и DownTicks
    :param s: Период для второго EMA
    :param u: Период для EMA на TVI_calculate
    :param point: Минимальное изменение цены (параметр MyPoint в MQL4)
    :return: DataFrame с добавленной колонкой 'TVI'
    """
    # Проверяем, что необходимые колонки существуют
    required_columns = ['open', 'close', 'volume']
    for col in required_columns:
        if col not in df.columns:
            raise ValueError(f"DataFrame должен содержать колонку '{col}'")

    # Вычисляем UpTicks и DownTicks
    df['UpTicks'] = (df['volume'] + (df['close'] - df['open']) / point) / 2
    df['DownTicks'] = df['volume'] - df['UpTicks']

    # EMA для UpTicks и DownTicks
    df['EMA_UpTicks'] = calculate_ema(df['UpTicks'], r)
    df['EMA_DownTicks'] = calculate_ema(df['DownTicks'], r)

    # Второе EMA для UpTicks и DownTicks
    df['DEMA_UpTicks'] = calculate_ema(df['EMA_UpTicks'], s)
    df['DEMA_DownTicks'] = calculate_ema(df['EMA_DownTicks'], s)

    # Расчет TVI_calculate
    df['TVI_calculate'] = 100.0 * (df['DEMA_UpTicks'] - df['DEMA_DownTicks']) / (
        df['DEMA_UpTicks'] + df['DEMA_DownTicks']
    )

    # EMA на TVI_calculate
    df['TVI'] = calculate_ema(df['TVI_calculate'], u)

    # Удаляем промежуточные колонки, если они не нужны
    df.drop(columns=['UpTicks', 'DownTicks', 'EMA_UpTicks', 'EMA_DownTicks', 
                     'DEMA_UpTicks', 'DEMA_DownTicks', 'TVI_calculate'], inplace=True)

    return df

# Добавляем колонку TVI
df_m5 = add_tvi_column(df_m5, r=12, s=12, u=5, point=0.1)

# Результат
df_m5

,tradedate,open,high,low,close,volume,TVI
0,2015-01-05 10:00:00,78450.0,78450.0,73200.0,73930.0,17625,-256.453901
1,2015-01-05 10:05:00,73890.0,74700.0,73660.0,74700.0,7143,-255.254435
2,2015-01-05 10:10:00,74700.0,74720.0,73830.0,73950.0,4584,-253.367957
3,2015-01-05 10:15:00,73970.0,74440.0,73620.0,74430.0,4213,-250.544546
4,2015-01-05 10:20:00,74400.0,74720.0,74220.0,74410.0,4498,-246.875928
...,...,...,...,...,...,...,...
1046753,2024-12-17 23:25:00,72680.0,72720.0,72680.0,72690.0,423,91.925743
1046754,2024-12-17 23:30:00,72680.0,72690.0,72670.0,72690.0,69,94.212201
1046755,2024-12-17 23:35:00,72700.0,72790.0,72690.0,72790.0,357,99.302020
1046756,2024-12-17 23:40:00,72800.0,72820.0,72760.0,72810.0,228,104.138889
1046757,2024-12-17 23:45:00,72810.0,72860.0,72790.0,72850.0,400,107.977138

## GannHilo

In [92]:
def calculate_sma(series, period):
    """
    Вычисляет простую скользящую среднюю (SMA).
    """
    return series.rolling(window=period, min_periods=1).mean()

def add_gann_hilo_column(df, period=10):
    """
    Добавляет индикатор GannHiLo как колонки в DataFrame.
    
    :param df: DataFrame с колонками ['close', 'high', 'low']
    :param period: Период для расчета SMA
    :return: DataFrame с добавленными колонками 'Gann_HiLo', 'Gann_Up', 'Gann_Down'
    """
    # Проверка на необходимые колонки
    required_columns = ['close', 'high', 'low']
    for col in required_columns:
        if col not in df.columns:
            raise ValueError(f"DataFrame должен содержать колонку '{col}'")

    # Расчет SMA для high и low
    df['SMA_High'] = calculate_sma(df['high'], period)
    df['SMA_Low'] = calculate_sma(df['low'], period)

    # Инициализация GannHiLo
    df['Gann_HiLo'] = 0  # 1 для UpTrend, -1 для DownTrend
    df['Gann_Up'] = 0    # 1 для Up
    df['Gann_Down'] = 0  # 1 для Down

    # Логика GannHiLo
    for i in range(len(df)):
        if i == 0:
            continue  # Пропускаем первый индекс, так как нет данных для сравнения

        if df['close'].iloc[i] > df['SMA_High'].iloc[i - 1]:
            df.at[i, 'Gann_HiLo'] = 1
        elif df['close'].iloc[i] < df['SMA_Low'].iloc[i - 1]:
            df.at[i, 'Gann_HiLo'] = -1

        # Заполняем Up и Down
        if df['Gann_HiLo'].iloc[i] == 1:
            df.at[i, 'Gann_Up'] = 1
            df.at[i, 'Gann_Down'] = 0
        elif df['Gann_HiLo'].iloc[i] == -1:
            df.at[i, 'Gann_Down'] = 1
            df.at[i, 'Gann_Up'] = 0

    # Удаление промежуточных колонок, если они не нужны
    df.drop(columns=['SMA_High', 'SMA_Low', 'Gann_Up', 'Gann_Down'], inplace=True)

    return df

# Добавляем GannHiLo индикатор
df_m5 = add_gann_hilo_column(df_m5, period=10)

# Результат
df_m5

,tradedate,open,high,low,close,volume,TVI,Gann_HiLo
0,2015-01-05 10:00:00,78450.0,78450.0,73200.0,73930.0,17625,-256.453901,0
1,2015-01-05 10:05:00,73890.0,74700.0,73660.0,74700.0,7143,-255.254435,0
2,2015-01-05 10:10:00,74700.0,74720.0,73830.0,73950.0,4584,-253.367957,0
3,2015-01-05 10:15:00,73970.0,74440.0,73620.0,74430.0,4213,-250.544546,0
4,2015-01-05 10:20:00,74400.0,74720.0,74220.0,74410.0,4498,-246.875928,0
...,...,...,...,...,...,...,...,...
1046753,2024-12-17 23:25:00,72680.0,72720.0,72680.0,72690.0,423,91.925743,1
1046754,2024-12-17 23:30:00,72680.0,72690.0,72670.0,72690.0,69,94.212201,1
1046755,2024-12-17 23:35:00,72700.0,72790.0,72690.0,72790.0,357,99.302020,1
1046756,2024-12-17 23:40:00,72800.0,72820.0,72760.0,72810.0,228,104.138889,1
1046757,2024-12-17 23:45:00,72810.0,72860.0,72790.0,72850.0,400,107.977138,1

## T3 (T3ma)

In [93]:
# def calculate_t3ma(df, period=8, b=0.618):
#     """
#     Рассчитывает индикатор T3MA и добавляет его как новую колонку в DataFrame.

#     :param df: DataFrame с колонкой 'close'
#     :param period: Период T3MA
#     :param b: Параметр T3MA (значение сглаживания)
#     :return: DataFrame с добавленной колонкой 'T3MA'
#     """
#     # Проверка на наличие колонки 'close'
#     if 'close' not in df.columns:
#         raise ValueError("DataFrame должен содержать колонку 'close'")

#     # Коэффициенты
#     b2 = b ** 2
#     b3 = b2 * b
#     c1 = -b3
#     c2 = 3 * (b2 + b3)
#     c3 = -3 * (2 * b2 + b + b3)
#     c4 = 1 + 3 * b + b3 + 3 * b2
#     n = max(1, 1 + 0.5 * (period - 1))
#     w1 = 2 / (n + 1)
#     w2 = 1 - w1

#     # Инициализация временных массивов
#     e1 = np.zeros(len(df))
#     e2 = np.zeros(len(df))
#     e3 = np.zeros(len(df))
#     e4 = np.zeros(len(df))
#     e5 = np.zeros(len(df))
#     e6 = np.zeros(len(df))
#     t3 = np.zeros(len(df))

#     # Вычисления T3MA
#     for i in range(len(df)):
#         close = df['close'].iloc[i]
#         if i == 0:
#             e1[i] = close
#             e2[i] = close
#             e3[i] = close
#             e4[i] = close
#             e5[i] = close
#             e6[i] = close
#         else:
#             e1[i] = w1 * close + w2 * e1[i - 1]
#             e2[i] = w1 * e1[i] + w2 * e2[i - 1]
#             e3[i] = w1 * e2[i] + w2 * e3[i - 1]
#             e4[i] = w1 * e3[i] + w2 * e4[i - 1]
#             e5[i] = w1 * e4[i] + w2 * e5[i - 1]
#             e6[i] = w1 * e5[i] + w2 * e6[i - 1]

#         t3[i] = c1 * e6[i] + c2 * e5[i] + c3 * e4[i] + c4 * e3[i]

#     # Добавление колонки T3MA в DataFrame
#     df['T3MA'] = t3
#     return df

# # Рассчитываем T3MA и добавляем в DataFrame
# df_m5 = calculate_t3ma(df_m5, period=8, b=0.618)

# # Результат
# df_m5

In [95]:
def calculate_t3ma(df, period=8, b=0.618):
    """
    Рассчитывает индикатор T3MA и добавляет его как новую колонку в DataFrame.

    :param df: DataFrame с колонкой 'close'
    :param period: Период T3MA
    :param b: Параметр T3MA (значение сглаживания)
    :return: DataFrame с добавленной колонкой 'T3MA'
    """
    # Проверка на наличие колонки 'close'
    if 'close' not in df.columns:
        raise ValueError("DataFrame должен содержать колонку 'close'")

    # Коэффициенты
    b2 = b ** 2
    b3 = b2 * b
    c1 = -b3
    c2 = 3 * (b2 + b3)
    c3 = -3 * (2 * b2 + b + b3)
    c4 = 1 + 3 * b + b3 + 3 * b2
    n = max(1, 1 + 0.5 * (period - 1))
    w1 = 2 / (n + 1)
    w2 = 1 - w1

    # Инициализация временных массивов
    e1 = np.zeros(len(df))
    e2 = np.zeros(len(df))
    e3 = np.zeros(len(df))
    e4 = np.zeros(len(df))
    e5 = np.zeros(len(df))
    e6 = np.zeros(len(df))
    t3 = np.zeros(len(df))

    # Вычисления T3MA
    for i in range(len(df)):
        close = df['close'].iloc[i]
        
        # Для первого значения используем само закрытие
        if i == 0:
            e1[i] = close
            e2[i] = close
            e3[i] = close
            e4[i] = close
            e5[i] = close
            e6[i] = close
        else:
            # Для последующих значений вычисляем сглаженные EMA
            e1[i] = w1 * close + w2 * e1[i - 1]
            e2[i] = w1 * e1[i] + w2 * e2[i - 1]
            e3[i] = w1 * e2[i] + w2 * e3[i - 1]
            e4[i] = w1 * e3[i] + w2 * e4[i - 1]
            e5[i] = w1 * e4[i] + w2 * e5[i - 1]
            e6[i] = w1 * e5[i] + w2 * e6[i - 1]

        # Вычисление финального значения T3MA
        t3[i] = c1 * e6[i] + c2 * e5[i] + c3 * e4[i] + c4 * e3[i]

    # Добавление колонки T3MA в DataFrame
    df['T3MA'] = t3
    return df

# Рассчитываем T3MA и добавляем в DataFrame
df_m5 = calculate_t3ma(df_m5, period=8, b=0.618)

# Результат
# df_m5
print(df_m5.to_string(max_rows=100, max_cols=20))

                  tradedate     open     high      low    close  volume         TVI  Gann_HiLo          T3MA
0       2015-01-05 10:00:00  78450.0  78450.0  73200.0  73930.0   17625 -256.453901          0  73930.000000
1       2015-01-05 10:05:00  73890.0  74700.0  73660.0  74700.0    7143 -255.254435          0  74030.138493
2       2015-01-05 10:10:00  74700.0  74720.0  73830.0  73950.0    4584 -253.367957          0  74092.939249
3       2015-01-05 10:15:00  73970.0  74440.0  73620.0  74430.0    4213 -250.544546          0  74167.176629
4       2015-01-05 10:20:00  74400.0  74720.0  74220.0  74410.0    4498 -246.875928          0  74244.053078
5       2015-01-05 10:25:00  74420.0  74420.0  73600.0  73610.0    4670 -242.853373         -1  74207.350215
6       2015-01-05 10:30:00  73630.0  73910.0  73320.0  73490.0    3418 -238.535213         -1  74076.673033
7       2015-01-05 10:35:00  73460.0  73910.0  73420.0  73720.0    1694 -233.936716          0  73942.053757
8       2015-01-05 10:40:00  73710.0  73810.0  73540.0  73590.0    1917 -229.256688         -1  73819.075606
9       2015-01-05 10:45:00  73590.0  73710.0  73440.0  73470.0    1189 -224.696431         -1  73704.410114
10      2015-01-05 10:50:00  73470.0  73510.0  73050.0  73120.0    4000 -220.066636         -1  73562.454322
11      2015-01-05 10:55:00  73100.0  73230.0  72470.0  72670.0    6723 -214.867986         -1  73358.536812
12      2015-01-05 11:00:00  72680.0  73700.0  72620.0  73640.0    4442 -208.063735          0  73265.762025
13      2015-01-05 11:05:00  73660.0  73850.0  73550.0  73660.0    2457 -200.360636          0  73277.976103
14      2015-01-05 11:10:00  73690.0  73770.0  73510.0  73560.0    1639 -192.449993          0  73334.256543
15      2015-01-05 11:15:00  73560.0  74250.0  73520.0  74090.0    5077 -183.394503          1  73468.237657
16      2015-01-05 11:20:00  74090.0  74500.0  74010.0  74440.0    7240 -172.611916          1  73681.192642
17      2015-01-05 11:25:00  74460.0  74500.0  74200.0  74500.0    3704 -160.981740          1  73920.984911
18      2015-01-05 11:30:00  74490.0  74680.0  74340.0  74510.0    2950 -149.198111          1  74139.651607
19      2015-01-05 11:35:00  74520.0  74560.0  74150.0  74370.0    2986 -137.861551          1  74293.721457
20      2015-01-05 11:40:00  74380.0  74560.0  74340.0  74560.0    1470 -127.052918          1  74409.986190
21      2015-01-05 11:45:00  74550.0  74930.0  74540.0  74810.0    3235 -116.383197          1  74527.001268
22      2015-01-05 11:50:00  74800.0  75130.0  74800.0  75090.0    3273 -105.609134          1  74671.905342
23      2015-01-05 11:55:00  75090.0  75400.0  75090.0  75280.0    4117  -94.703370          1  74842.887878
24      2015-01-05 12:00:00  75280.0  75290.0  74860.0  74880.0    3174  -84.812319          1  74954.315597
25      2015-01-05 12:05:00  74890.0  75270.0  74730.0  75080.0    2477  -75.577791          1  75029.844054
26      2015-01-05 12:10:00  75080.0  75270.0  75010.0  75040.0    2117  -67.214721          1  75073.652527
27      2015-01-05 12:15:00  75050.0  75100.0  74830.0  74870.0    1083  -60.136325          0  75071.832449
28      2015-01-05 12:20:00  74850.0  74900.0  74580.0  74580.0    1878  -54.588604         -1  75003.668501
29      2015-01-05 12:25:00  74570.0  74840.0  74560.0  74830.0    1504  -49.545582          0  74934.880180
30      2015-01-05 12:30:00  74820.0  74950.0  74590.0  74910.0    1838  -44.750136          0  74894.490907
31      2015-01-05 12:35:00  74900.0  75830.0  74900.0  75580.0    6552  -38.388821          1  74966.254425
32      2015-01-05 12:40:00  75580.0  75920.0  75480.0  75600.0    3514  -31.551041          1  75108.038293
33      2015-01-05 12:45:00  75580.0  75760.0  75440.0  75740.0    1413  -24.624065          1  75282.959487
34      2015-01-05 12:50:00  75760.0  75900.0  75490.0  75630.0    3280  -18.462705          1  75434.693625
35      2015-01-05 12:55:00  75640.0  75890.0  75520.0  75850.0    2090  -12.658394          1  75574.117414
36      2015-01-05 13:00:00  75860.0  75870.0  75650.0  75710.0    1302   -7.883469          1  75672.741604
37      2015-01-05 13:05:00  75710.0  75790.0  75660.0  75700.0    1251   -4.038142          1  75729.876714
38      2015-01-05 13:10:00  75710.0  75770.0  75510.0  75550.0    1393   -1.412949          0  75736.403751
39      2015-01-05 13:15:00  75550.0  75690.0  75530.0  75640.0     982    0.631928          0  75723.173196
40      2015-01-05 13:20:00  75650.0  75840.0  75600.0  75840.0    1448    2.775319          1  75730.729765
41      2015-01-05 13:25:00  75820.0  75870.0  75580.0  75750.0    1716    4.558233          0  75743.219775
42      2015-01-05 13:30:00  75740.0  75790.0  75670.0  75730.0    1158    5.960217          0  75751.225411
43      2015-01-05 13:35:00  75720.0  75760.0  75640.0  75690.0     652    6.940151          0  75748.598576
44      2015-01-05 13:40:00  75670.0  75720.0  75540.0  75570.0     955    7.235100         -1  75723.396686
45      2015-01-05 13:45:00  75570.0  75680.0  75540.0  75540.0    1173    6.996983         -1  75682.499341
46      2015-01-05 13:50:00  75560.0  75620.0  75190.0  75220.0    3597    5.084746         -1  75597.083383
47      2015-01-05 13:55:00  75220.0  75300.0  74890.0  75030.0    4435    1.792473         -1  75467.589823
48      2015-01-05 14:00:00  75030.0  75210.0  74950.0  75040.0    1199   -1.767073         -1  75330.513499
49      2015-01-05 14:05:00  75030.0  75170.0  74950.0  75050.0    3041   -4.927300         -1  75213.214778
...                     ...      ...      ...      ...      ...     ...         ...        ...           ...
1046708 2024-12-17 19:40:00  72240.0  72340.0  72240.0  72300.0     193  -21.458516          0           NaN
1046709 2024-12-17 19:45:00  72290.0  72380.0  72290.0  72370.0     273  -19.867115          1           NaN
1046710 2024-12-17 19:50:00  72370.0  72430.0  72340.0  72400.0     454  -17.323825          1           NaN
1046711 2024-12-17 19:55:00  72400.0  72550.0  72380.0  72460.0     382  -13.662115          1           NaN
1046712 2024-12-17 20:00:00  72450.0  72450.0  72380.0  72410.0     263  -10.190552          1           NaN
1046713 2024-12-17 20:05:00  72420.0  72430.0  72400.0  72430.0      48   -6.918696          1           NaN
1046714 2024-12-17 20:10:00  72430.0  72460.0  72380.0  72380.0     109   -4.705116          0           NaN
1046715 2024-12-17 20:15:00  72380.0  72380.0  72310.0  72330.0     119   -3.993692          0           NaN
1046716 2024-12-17 20:20:00  72340.0  72370.0  72310.0  72360.0      83   -3.804189          0           NaN
1046717 2024-12-17 20:25:00  72360.0  72420.0  72350.0  72400.0      91   -3.175415          0           NaN
1046718 2024-12-17 20:30:00  72400.0  72490.0  72400.0  72490.0      86   -0.552219          1           NaN
1046719 2024-12-17 20:35:00  72490.0  72530.0  72470.0  72500.0     175    3.227841          1           NaN
1046720 2024-12-17 20:40:00  72510.0  72620.0  72510.0  72530.0     367    7.766127          1           NaN
1046721 2024-12-17 20:45:00  72510.0  72540.0  72460.0  72460.0     156   11.153757          0           NaN
1046722 2024-12-17 20:50:00  72450.0  72500.0  72450.0  72470.0     201   14.113165          1           NaN
1046723 2024-12-17 20:55:00  72480.0  72510.0  72470.0  72480.0     146   16.565756          1           NaN
1046724 2024-12-17 21:00:00  72470.0  72530.0  72430.0  72530.0     237   20.098822          1           NaN
1046725 2024-12-17 21:05:00  72520.0  72540.0  72480.0  72490.0     137   22.964041          1           NaN
1046726 2024-12-17 21:10:00  72490.0  72500.0  72460.0  72480.0     133   24.855145          0           NaN
1046727 2024-12-17 21:15:00  72470.0  72540.0  72470.0  72490.0     335   26.425972          0           NaN
1046728 2024-12-17 21:20:00  72470.0  72480.0  72380.0  72400.0     437   25.106703         -1           NaN
1046729 2024-12-17 21:25:00  72400.0  72440.0  72380.0  72420.0     126   23.048913         -1           NaN
1046730 2024-12-17 21:30:00  72410.0  72430.0  72380.0  72390.0      96   20.089912         -1           NaN
1046731 2024-12-17 21:35:00  72390.0  72400.0  72380.0  72400.0      37   17.226592         -1           NaN
1046732 2024-12-17 21:40:00  72400.0  72420.0  72390.0  72400.0     105   14.583493         -1           NaN
1046733 2024-12-17 21:45:00  72390.0  72410.0  72390.0  72400.0      20   12.608236         -1           NaN
1046734 2024-12-17 21:50:00  72410.0  72470.0  72400.0  72470.0      74   13.460810          1           NaN
1046735 2024-12-17 21:55:00  72470.0  72470.0  72430.0  72440.0      76   14.469762          0           NaN
1046736 2024-12-17 22:00:00  72450.0  72520.0  72440.0  72520.0      69   18.550401          1           NaN
1046737 2024-12-17 22:05:00  72530.0  72610.0  72520.0  72590.0     311   26.284026          1           NaN
1046738 2024-12-17 22:10:00  72590.0  72600.0  72520.0  72540.0     126   32.640568          1           NaN
1046739 2024-12-17 22:15:00  72540.0  72580.0  72540.0  72570.0      55   39.124541          1           NaN
1046740 2024-12-17 22:20:00  72570.0  72570.0  72500.0  72520.0     112   42.374159          1           NaN
1046741 2024-12-17 22:25:00  72480.0  72480.0  72470.0  72480.0      48   43.589260          0           NaN
1046742 2024-12-17 22:30:00  72490.0  72500.0  72470.0  72500.0      70   44.026965          0           NaN
1046743 2024-12-17 22:35:00  72500.0  72500.0  72480.0  72480.0      17   42.826650          0           NaN
1046744 2024-12-17 22:40:00  72490.0  72540.0  72480.0  72540.0      40   43.789512          1           NaN
1046745 2024-12-17 22:45:00  72540.0  72730.0  72540.0  72660.0     436   51.796400          1           NaN
1046746 2024-12-17 22:50:00  72660.0  72700.0  72650.0  72670.0      82   62.605924          1           NaN
1046747 2024-12-17 22:55:00  72660.0  72710.0  72660.0  72670.0      65   74.050848          1           NaN
1046748 2024-12-17 23:00:00  72680.0  72680.0  72610.0  72620.0     267   79.541431          1           NaN
1046749 2024-12-17 23:05:00  72610.0  72630.0  72610.0  72630.0       9   82.844247          1           NaN
1046750 2024-12-17 23:10:00  72620.0  72640.0  72610.0  72610.0      67   83.793267          1           NaN
1046751 2024-12-17 23:15:00  72610.0  72640.0  72610.0  72640.0      54   85.099559          1           NaN
1046752 2024-12-17 23:20:00  72640.0  72680.0  72640.0  72680.0      15   89.052793          1           NaN
1046753 2024-12-17 23:25:00  72680.0  72720.0  72680.0  72690.0     423   91.925743          1           NaN
1046754 2024-12-17 23:30:00  72680.0  72690.0  72670.0  72690.0      69   94.212201          1           NaN
1046755 2024-12-17 23:35:00  72700.0  72790.0  72690.0  72790.0     357   99.302020          1           NaN
1046756 2024-12-17 23:40:00  72800.0  72820.0  72760.0  72810.0     228  104.138889          1           NaN
1046757 2024-12-17 23:45:00  72810.0  72860.0  72790.0  72850.0     400  107.977138          1           NaN