# Обработка данных по объемам

Обработка объемных данных для выявления дней повышенной волатильности. Идея в том, чтобы найти дни в которые проходят большие объемы и есть идея направления движения.

In [46]:
import sqlite3

import pandas as pd
import numpy as np
import ta

In [47]:
# Установить соединение с базой данных
conn = sqlite3.connect(r'C:\Users\Alkor\gd\data_quote_db\RTS_futures_minute.db')

# SQL-запрос для извлечения данных
# query = "SELECT TRADEDATE, VOLUME FROM Minute"
query = "SELECT * FROM Minute"

# Загрузить данные в DataFrame
df = pd.read_sql_query(query, conn)

# Закрыть соединение
conn.close()

# Прописные в названиях колонок
df.columns = map(str.lower, df.columns)

df

,tradedate,secid,open,low,high,close,volume,lsttrade
0,2015-01-05 10:00:00,RIH5_2015,78450.0,74320.0,78450.0,74670.0,5970,2015-03-16
1,2015-01-05 10:01:00,RIH5_2015,74670.0,73520.0,74730.0,73580.0,3455,2015-03-16
2,2015-01-05 10:02:00,RIH5_2015,73560.0,73200.0,73570.0,73360.0,2721,2015-03-16
3,2015-01-05 10:03:00,RIH5_2015,73380.0,73250.0,74110.0,73670.0,4008,2015-03-16
4,2015-01-05 10:04:00,RIH5_2015,73650.0,73540.0,74000.0,73930.0,1471,2015-03-16
...,...,...,...,...,...,...,...,...
2029935,2024-12-17 23:45:00,RIZ4,72810.0,72810.0,72820.0,72820.0,15,2024-12-19
2029936,2024-12-17 23:46:00,RIZ4,72820.0,72820.0,72840.0,72830.0,192,2024-12-19
2029937,2024-12-17 23:47:00,RIZ4,72810.0,72800.0,72840.0,72840.0,82,2024-12-19
2029938,2024-12-17 23:48:00,RIZ4,72850.0,72790.0,72860.0,72840.0,69,2024-12-19
2029939,2024-12-17 23:49:00,RIZ4,72840.0,72800.0,72850.0,72850.0,42,2024-12-19

In [48]:
df['tradedate'] = pd.to_datetime(df['tradedate'])

# Добавление колонки с датой
df['date'] = df['tradedate'].dt.date

# Добавление колонки с временем
df['time'] = df['tradedate'].dt.time

df

,tradedate,secid,open,low,high,close,volume,lsttrade,date,time
0,2015-01-05 10:00:00,RIH5_2015,78450.0,74320.0,78450.0,74670.0,5970,2015-03-16,2015-01-05,10:00:00
1,2015-01-05 10:01:00,RIH5_2015,74670.0,73520.0,74730.0,73580.0,3455,2015-03-16,2015-01-05,10:01:00
2,2015-01-05 10:02:00,RIH5_2015,73560.0,73200.0,73570.0,73360.0,2721,2015-03-16,2015-01-05,10:02:00
3,2015-01-05 10:03:00,RIH5_2015,73380.0,73250.0,74110.0,73670.0,4008,2015-03-16,2015-01-05,10:03:00
4,2015-01-05 10:04:00,RIH5_2015,73650.0,73540.0,74000.0,73930.0,1471,2015-03-16,2015-01-05,10:04:00
...,...,...,...,...,...,...,...,...,...,...
2029935,2024-12-17 23:45:00,RIZ4,72810.0,72810.0,72820.0,72820.0,15,2024-12-19,2024-12-17,23:45:00
2029936,2024-12-17 23:46:00,RIZ4,72820.0,72820.0,72840.0,72830.0,192,2024-12-19,2024-12-17,23:46:00
2029937,2024-12-17 23:47:00,RIZ4,72810.0,72800.0,72840.0,72840.0,82,2024-12-19,2024-12-17,23:47:00
2029938,2024-12-17 23:48:00,RIZ4,72850.0,72790.0,72860.0,72840.0,69,2024-12-19,2024-12-17,23:48:00
2029939,2024-12-17 23:49:00,RIZ4,72840.0,72800.0,72850.0,72850.0,42,2024-12-19,2024-12-17,23:49:00

Создаем колонку с перцентилем объема к выборке за 30 последних значений с таким же временем.

In [49]:
# Группировка по времени
df["percentile"] = (
    df.groupby("time")["volume"]
    .rolling(window=30, min_periods=1)  # Используем скользящее окно
    .apply(lambda x: (x <= x.iloc[-1]).mean() * 100)  # Рассчёт перцентиля
    .reset_index(level=0, drop=True)  # Сбрасываем лишний индекс
)

Создаем колонку со средними значениями предыдущих строк колонки percentile за каждый день

In [50]:
# Группировка по дате и расчёт среднего
df["avg_percentile"] = (
    df.groupby("date")["percentile"]  # Группировка по дате
    # .shift()  # Если текущая строка не должна учитываться при расчёте среднего (сдвиг)
    .expanding()  # Нарастающее среднее внутри каждой группы
    .mean()  # Среднее
    .reset_index(level=0, drop=True)  # Сбрасываем лишний индекс
)

In [51]:
# Округление значений в указанных колонках до двух знаков
df[["percentile", "avg_percentile"]] = df[["percentile", "avg_percentile"]].round(2)

df

,tradedate,secid,open,low,high,close,volume,lsttrade,date,time,percentile,avg_percentile
0,2015-01-05 10:00:00,RIH5_2015,78450.0,74320.0,78450.0,74670.0,5970,2015-03-16,2015-01-05,10:00:00,100.00,100.00
1,2015-01-05 10:01:00,RIH5_2015,74670.0,73520.0,74730.0,73580.0,3455,2015-03-16,2015-01-05,10:01:00,100.00,100.00
2,2015-01-05 10:02:00,RIH5_2015,73560.0,73200.0,73570.0,73360.0,2721,2015-03-16,2015-01-05,10:02:00,100.00,100.00
3,2015-01-05 10:03:00,RIH5_2015,73380.0,73250.0,74110.0,73670.0,4008,2015-03-16,2015-01-05,10:03:00,100.00,100.00
4,2015-01-05 10:04:00,RIH5_2015,73650.0,73540.0,74000.0,73930.0,1471,2015-03-16,2015-01-05,10:04:00,100.00,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...
2029935,2024-12-17 23:45:00,RIZ4,72810.0,72810.0,72820.0,72820.0,15,2024-12-19,2024-12-17,23:45:00,16.67,44.07
2029936,2024-12-17 23:46:00,RIZ4,72820.0,72820.0,72840.0,72830.0,192,2024-12-19,2024-12-17,23:46:00,90.00,44.12
2029937,2024-12-17 23:47:00,RIZ4,72810.0,72800.0,72840.0,72840.0,82,2024-12-19,2024-12-17,23:47:00,90.00,44.18
2029938,2024-12-17 23:48:00,RIZ4,72850.0,72790.0,72860.0,72840.0,69,2024-12-19,2024-12-17,23:48:00,76.67,44.22
2029939,2024-12-17 23:49:00,RIZ4,72840.0,72800.0,72850.0,72850.0,42,2024-12-19,2024-12-17,23:49:00,26.67,44.20

In [52]:
# # Запись в Excel
# df.head(2000).to_excel('example.xlsx')

# # Сохраняем первые строки в CSV
# df.iloc[:3000].to_csv("head_df.csv", index=False)

# # Сохраняем последние 3000 строк в CSV
# df.tail(3000).to_csv("last_rows.csv", index=False)

Создаем список из значений колонки date где значение avg_percentile на 60 строке за дату больше либо равно 75.

In [53]:
# Фильтрация дат, где значение avg_percentile на 60-й строке >= 75
datetime_list = (
    df.groupby("date")  # Группировка по дате
    .nth(59)  # Выбор 60-й строки (индексация с нуля)
    .query("avg_percentile >= 75")  # Фильтр по условию
    # .index.tolist()  # Преобразование индекса в список
    .date.tolist()  # Преобразование дат в список
)

unique_values = df["date"].nunique()


# Преобразование в формат "ГГГГ-ММ-ДД"
dates_list = [dt.strftime("%Y-%m-%d") for dt in datetime_list]

# Запись списка дат в файл
with open('dates.txt', 'w') as file:
    for date in dates_list:
        file.write(date + '\n')


print(f"Список дат:, {dates_list}")
print("Длина списка:", len(dates_list))
print(f"Уникальные значения в колонке date: {unique_values}")
print(len(dates_list) / unique_values)

Список дат:, ['2015-01-05', '2015-01-26', '2015-02-06', '2015-02-09', '2015-02-12', '2015-03-26', '2015-04-09', '2015-04-10', '2015-04-13', '2015-06-22', '2015-07-08', '2015-07-28', '2015-08-03', '2015-08-24', '2015-09-01', '2016-01-18', '2016-01-19', '2016-01-20', '2016-01-21', '2016-01-22', '2016-01-25', '2016-01-29', '2016-03-17', '2016-04-13', '2016-04-18', '2016-04-20', '2016-04-21', '2016-11-09', '2016-12-12', '2017-02-28', '2017-03-09', '2017-03-10', '2017-11-08', '2018-01-18', '2018-01-25', '2018-01-26', '2018-02-06', '2018-02-26', '2018-04-09', '2018-04-10', '2018-06-19', '2018-08-09', '2018-08-10', '2018-08-13', '2018-10-11', '2018-11-26', '2019-02-14', '2019-07-12', '2019-07-25', '2019-08-02', '2020-01-21', '2020-01-23', '2020-01-29', '2020-01-30', '2020-02-03', '2020-02-10', '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02', '2020-03-06', '2020-03-12', '2020-03-13', '2020-03-20', '2020-04-16', '2020-05-21', '2020-06-11', '2020-09-24', '2021-01-28', '2021-03-01', '2021-03-02', '2021-03-04', '2021-03-24', '2021-04-12', '2021-04-15', '2021-04-19', '2021-06-03', '2021-06-14', '2021-07-26', '2021-08-04', '2021-08-09', '2021-09-20', '2021-10-01', '2021-10-06', '2021-11-26', '2021-11-29', '2021-12-01', '2021-12-14', '2022-01-06', '2022-01-14', '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-25', '2022-02-14', '2022-02-21', '2022-02-22', '2022-04-21', '2022-05-12', '2022-05-31', '2022-06-09', '2022-09-21', '2022-11-07', '2023-01-23', '2023-02-09', '2023-02-28', '2023-04-03', '2023-05-30', '2023-06-26', '2023-07-11', '2023-07-17', '2023-08-07', '2023-09-12', '2023-09-13', '2024-02-26', '2024-03-25', '2024-06-05', '2024-06-13', '2024-07-11', '2024-07-16', '2024-08-26', '2024-09-03', '2024-10-28', '2024-11-06', '2024-11-25', '2024-11-26', '2024-11-27', '2024-11-28']
Длина списка: 130
Уникальные значения в колонке date: 2499
0.05202080832332933

# Конвертирование 1 минутных котировок в 5 минутные

In [54]:
# Убедимся, что колонка  tradedate имеет тип datetime
df["tradedate"] = pd.to_datetime(df["tradedate"])

# Устанавливаем  tradedate как индекс
df.set_index("tradedate", inplace=True)

# Агрегирование до 5-минутных баров
df_m5 = df.resample("5min").agg({
    "open": "first",    # Первая цена в периоде
    "high": "max",      # Максимальная цена
    "low": "min",       # Минимальная цена
    "close": "last",    # Последняя цена
    "volume": "sum",    # Суммарный объём
    'avg_percentile': 'mean'  # Среднее перцентиля объемов
})

# Сбрасываем индекс
df_m5 = df_m5.reset_index()

# Стереть строки с NaN
df_m5.dropna(inplace=True)

# Переиндексация
df_m5 = df_m5.reset_index(drop=True)

# Округление значений в указанных колонках до двух знаков
df_m5[["avg_percentile"]] = df_m5[["avg_percentile"]].round(2)

df_m5

,tradedate,open,high,low,close,volume,avg_percentile
0,2015-01-05 10:00:00,78450.0,78450.0,73200.0,73930.0,17625,100.00
1,2015-01-05 10:05:00,73890.0,74700.0,73660.0,74700.0,7143,100.00
2,2015-01-05 10:10:00,74700.0,74720.0,73830.0,73950.0,4584,100.00
3,2015-01-05 10:15:00,73970.0,74440.0,73620.0,74430.0,4213,100.00
4,2015-01-05 10:20:00,74400.0,74720.0,74220.0,74410.0,4498,100.00
...,...,...,...,...,...,...,...
410502,2024-12-17 23:25:00,72680.0,72720.0,72680.0,72690.0,423,43.72
410503,2024-12-17 23:30:00,72680.0,72690.0,72670.0,72690.0,69,43.74
410504,2024-12-17 23:35:00,72700.0,72790.0,72690.0,72790.0,357,43.86
410505,2024-12-17 23:40:00,72800.0,72820.0,72760.0,72810.0,228,44.03
410506,2024-12-17 23:45:00,72810.0,72860.0,72790.0,72850.0,400,44.16

### TVI

In [55]:
def calculate_ema(series, period):
    """
    Вычисляет экспоненциальное скользящее среднее (EMA) 
    для указанного ряда данных.
    """
    return series.ewm(span=period, adjust=False).mean()

def add_tvi_column(df, r=12, s=12, u=5, point=0.0001):
    """
    Добавляет колонку TVI в DataFrame.
    
    :param df: DataFrame с колонками ['open', 'close', 'volume']
    :param r: Период для EMA для UpTicks и DownTicks
    :param s: Период для второго EMA
    :param u: Период для EMA на TVI_calculate
    :param point: Минимальное изменение цены (параметр MyPoint в MQL4)
    :return: DataFrame с добавленной колонкой 'TVI'
    """
    # Проверяем, что необходимые колонки существуют
    required_columns = ['open', 'close', 'volume']
    for col in required_columns:
        if col not in df.columns:
            raise ValueError(f"DataFrame должен содержать колонку '{col}'")

    # Вычисляем UpTicks и DownTicks
    df['UpTicks'] = (df['volume'] + (df['close'] - df['open']) / point) / 2
    df['DownTicks'] = df['volume'] - df['UpTicks']

    # EMA для UpTicks и DownTicks
    df['EMA_UpTicks'] = calculate_ema(df['UpTicks'], r)
    df['EMA_DownTicks'] = calculate_ema(df['DownTicks'], r)

    # Второе EMA для UpTicks и DownTicks
    df['DEMA_UpTicks'] = calculate_ema(df['EMA_UpTicks'], s)
    df['DEMA_DownTicks'] = calculate_ema(df['EMA_DownTicks'], s)

    # Расчет TVI_calculate
    df['TVI_calculate'] = 100.0 * (df['DEMA_UpTicks'] - df['DEMA_DownTicks']) / (
        df['DEMA_UpTicks'] + df['DEMA_DownTicks']
    )

    # EMA на TVI_calculate
    df['TVI'] = calculate_ema(df['TVI_calculate'], u)

    # Удаляем промежуточные колонки, если они не нужны
    df.drop(
        columns=['UpTicks', 'DownTicks', 'EMA_UpTicks', 'EMA_DownTicks', 
        'DEMA_UpTicks', 'DEMA_DownTicks', 'TVI_calculate'], inplace=True
        )

    return df

# Добавляем колонку TVI
df_m5 = add_tvi_column(df_m5, r=12, s=12, u=5, point=0.1)

# Результат
df_m5

,tradedate,open,high,low,close,volume,avg_percentile,TVI
0,2015-01-05 10:00:00,78450.0,78450.0,73200.0,73930.0,17625,100.00,-256.453901
1,2015-01-05 10:05:00,73890.0,74700.0,73660.0,74700.0,7143,100.00,-255.254435
2,2015-01-05 10:10:00,74700.0,74720.0,73830.0,73950.0,4584,100.00,-253.367957
3,2015-01-05 10:15:00,73970.0,74440.0,73620.0,74430.0,4213,100.00,-250.544546
4,2015-01-05 10:20:00,74400.0,74720.0,74220.0,74410.0,4498,100.00,-246.875928
...,...,...,...,...,...,...,...,...
410502,2024-12-17 23:25:00,72680.0,72720.0,72680.0,72690.0,423,43.72,92.253070
410503,2024-12-17 23:30:00,72680.0,72690.0,72670.0,72690.0,69,43.74,94.500815
410504,2024-12-17 23:35:00,72700.0,72790.0,72690.0,72790.0,357,43.86,99.555811
410505,2024-12-17 23:40:00,72800.0,72820.0,72760.0,72810.0,228,44.03,104.359532
410506,2024-12-17 23:45:00,72810.0,72860.0,72790.0,72850.0,400,44.16,108.165628

## GannHiLo

In [56]:
def calculate_sma(series, period):
    """
    Вычисляет простую скользящую среднюю (SMA).
    """
    return series.rolling(window=period, min_periods=1).mean()

def add_gann_hilo_column_optimized(df, period=10):
    """
    Оптимизированная версия добавления индикатора GannHiLo в DataFrame.
    
    :param df: DataFrame с колонками ['close', 'high', 'low']
    :param period: Период для расчета SMA
    :return: DataFrame с добавленными колонками 'Gann_HiLo'
    """
    # Проверка на необходимые колонки
    required_columns = ['close', 'high', 'low']
    if not all(col in df.columns for col in required_columns):
        raise ValueError(
            f"DataFrame должен содержать колонки: {required_columns}"
            )

    # Расчет SMA для high и low
    sma_high = calculate_sma(df['high'], period)
    sma_low = calculate_sma(df['low'], period)

    # Вычисление GannHiLo векторным способом
    gann_hilo = (
        (df['close'] > sma_high.shift(1)).astype(int) - 
        (df['close'] < sma_low.shift(1)).astype(int)
        )

    # Добавляем колонку Gann_HiLo в DataFrame
    df['Gann_HiLo'] = gann_hilo

    return df

# Добавляем GannHiLo индикатор
df_m5 = add_gann_hilo_column_optimized(df_m5, period=10)

# Результат
df_m5

,tradedate,open,high,low,close,volume,avg_percentile,TVI,Gann_HiLo
0,2015-01-05 10:00:00,78450.0,78450.0,73200.0,73930.0,17625,100.00,-256.453901,0
1,2015-01-05 10:05:00,73890.0,74700.0,73660.0,74700.0,7143,100.00,-255.254435,0
2,2015-01-05 10:10:00,74700.0,74720.0,73830.0,73950.0,4584,100.00,-253.367957,0
3,2015-01-05 10:15:00,73970.0,74440.0,73620.0,74430.0,4213,100.00,-250.544546,0
4,2015-01-05 10:20:00,74400.0,74720.0,74220.0,74410.0,4498,100.00,-246.875928,0
...,...,...,...,...,...,...,...,...,...
410502,2024-12-17 23:25:00,72680.0,72720.0,72680.0,72690.0,423,43.72,92.253070,1
410503,2024-12-17 23:30:00,72680.0,72690.0,72670.0,72690.0,69,43.74,94.500815,1
410504,2024-12-17 23:35:00,72700.0,72790.0,72690.0,72790.0,357,43.86,99.555811,1
410505,2024-12-17 23:40:00,72800.0,72820.0,72760.0,72810.0,228,44.03,104.359532,1
410506,2024-12-17 23:45:00,72810.0,72860.0,72790.0,72850.0,400,44.16,108.165628,1

## T3 (T3ma) (8, 0.618)

In [57]:
def calculate_t3ma(df, period=8, b=0.618):
    """
    Рассчитывает индикатор T3MA и добавляет его как новую колонку в DataFrame.

    :param df: DataFrame с колонкой 'close'
    :param period: Период T3MA
    :param b: Параметр T3MA (значение сглаживания)
    :return: DataFrame с добавленной колонкой 'T3MA'
    """
    # Проверка на наличие колонки 'close'
    if 'close' not in df.columns:
        raise ValueError("DataFrame должен содержать колонку 'close'")

    close = df['close'].values

    # Коэффициенты
    b2 = b ** 2
    b3 = b2 * b
    c1 = -b3
    c2 = 3 * (b2 + b3)
    c3 = -3 * (2 * b2 + b + b3)
    c4 = 1 + 3 * b + b3 + 3 * b2
    n = max(1, 1 + 0.5 * (period - 1))
    w1 = 2 / (n + 1)
    w2 = 1 - w1

    # Создание временных массивов
    e1 = np.zeros_like(close)
    e2 = np.zeros_like(close)
    e3 = np.zeros_like(close)
    e4 = np.zeros_like(close)
    e5 = np.zeros_like(close)
    e6 = np.zeros_like(close)

    # Векторизованный расчет экспоненциальных сглаживаний
    e1[0] = close[0]
    for i in range(1, len(close)):
        e1[i] = w1 * close[i] + w2 * e1[i - 1]

    e2[0] = e1[0]
    for i in range(1, len(e1)):
        e2[i] = w1 * e1[i] + w2 * e2[i - 1]

    e3[0] = e2[0]
    for i in range(1, len(e2)):
        e3[i] = w1 * e2[i] + w2 * e3[i - 1]

    e4[0] = e3[0]
    for i in range(1, len(e3)):
        e4[i] = w1 * e3[i] + w2 * e4[i - 1]

    e5[0] = e4[0]
    for i in range(1, len(e4)):
        e5[i] = w1 * e4[i] + w2 * e5[i - 1]

    e6[0] = e5[0]
    for i in range(1, len(e5)):
        e6[i] = w1 * e5[i] + w2 * e6[i - 1]

    # Итоговый расчет T3
    t3 = c1 * e6 + c2 * e5 + c3 * e4 + c4 * e3

    # Добавление результата в DataFrame
    df['T3MA'] = t3
    return df

# Рассчитываем T3MA и добавляем в DataFrame
df_m5 = calculate_t3ma(df_m5, period=8, b=0.618)

# Результат
df_m5

,tradedate,open,high,low,close,volume,avg_percentile,TVI,Gann_HiLo,T3MA
0,2015-01-05 10:00:00,78450.0,78450.0,73200.0,73930.0,17625,100.00,-256.453901,0,73930.000000
1,2015-01-05 10:05:00,73890.0,74700.0,73660.0,74700.0,7143,100.00,-255.254435,0,74030.138493
2,2015-01-05 10:10:00,74700.0,74720.0,73830.0,73950.0,4584,100.00,-253.367957,0,74092.939249
3,2015-01-05 10:15:00,73970.0,74440.0,73620.0,74430.0,4213,100.00,-250.544546,0,74167.176629
4,2015-01-05 10:20:00,74400.0,74720.0,74220.0,74410.0,4498,100.00,-246.875928,0,74244.053078
...,...,...,...,...,...,...,...,...,...,...
410502,2024-12-17 23:25:00,72680.0,72720.0,72680.0,72690.0,423,43.72,92.253070,1,72656.068456
410503,2024-12-17 23:30:00,72680.0,72690.0,72670.0,72690.0,69,43.74,94.500815,1,72667.642230
410504,2024-12-17 23:35:00,72700.0,72790.0,72690.0,72790.0,357,43.86,99.555811,1,72690.696238
410505,2024-12-17 23:40:00,72800.0,72820.0,72760.0,72810.0,228,44.03,104.359532,1,72721.605475
410506,2024-12-17 23:45:00,72810.0,72860.0,72790.0,72850.0,400,44.16,108.165628,1,72757.673054

# CCI (20)

In [58]:
# Вычисление CCI с периодом 20
df_m5['CCI_20'] = ta.trend.cci(
    high=df_m5['high'], low=df_m5['low'], close=df_m5['close'], window=20
    )

df_m5

,tradedate,open,high,low,close,volume,avg_percentile,TVI,Gann_HiLo,T3MA,CCI_20
0,2015-01-05 10:00:00,78450.0,78450.0,73200.0,73930.0,17625,100.00,-256.453901,0,73930.000000,NaN
1,2015-01-05 10:05:00,73890.0,74700.0,73660.0,74700.0,7143,100.00,-255.254435,0,74030.138493,NaN
2,2015-01-05 10:10:00,74700.0,74720.0,73830.0,73950.0,4584,100.00,-253.367957,0,74092.939249,NaN
3,2015-01-05 10:15:00,73970.0,74440.0,73620.0,74430.0,4213,100.00,-250.544546,0,74167.176629,NaN
4,2015-01-05 10:20:00,74400.0,74720.0,74220.0,74410.0,4498,100.00,-246.875928,0,74244.053078,NaN
...,...,...,...,...,...,...,...,...,...,...,...
410502,2024-12-17 23:25:00,72680.0,72720.0,72680.0,72690.0,423,43.72,92.253070,1,72656.068456,115.235886
410503,2024-12-17 23:30:00,72680.0,72690.0,72670.0,72690.0,69,43.74,94.500815,1,72667.642230,92.957746
410504,2024-12-17 23:35:00,72700.0,72790.0,72690.0,72790.0,357,43.86,99.555811,1,72690.696238,146.882073
410505,2024-12-17 23:40:00,72800.0,72820.0,72760.0,72810.0,228,44.03,104.359532,1,72721.605475,166.666667
410506,2024-12-17 23:45:00,72810.0,72860.0,72790.0,72850.0,400,44.16,108.165628,1,72757.673054,173.570020

# Сигналы индикаторов

In [59]:
# Добавляем новую колонку с сигналом TVI
df_m5['TVI_S'] = df_m5['TVI'].diff().apply(lambda x: 1 if x > 0 else (-1 if x < 0 else 0))

# Добавляем новую колонку с сигналом T3MA
df_m5['T3_S'] = df_m5['T3MA'].diff().apply(lambda x: 1 if x > 0 else (-1 if x < 0 else 0))

# Добавляем новую колонку с сигналом от CCI
df_m5['CCI_S'] = df_m5['CCI_20'].apply(lambda x: 1 if x > 0 else (-1 if x < 0 else 0))

df_m5 = df_m5[['tradedate', 'open', 'high', 'low', 'close', 'avg_percentile', 
               'TVI_S', 'CCI_S', 'T3_S', 'Gann_HiLo']]

df_m5 = df_m5.copy()

# Переименование колонок
df_m5.rename(
    columns={'TVI_S': 'tvi', 'CCI_S': 'cci', 'T3_S': 't3', 'Gann_HiLo': 'ghl', 
             'avg_percentile': 'avg_per'}, 
    inplace=True
    )

df_m5

,tradedate,open,high,low,close,avg_per,tvi,cci,t3,ghl
0,2015-01-05 10:00:00,78450.0,78450.0,73200.0,73930.0,100.00,0,0,0,0
1,2015-01-05 10:05:00,73890.0,74700.0,73660.0,74700.0,100.00,1,0,1,0
2,2015-01-05 10:10:00,74700.0,74720.0,73830.0,73950.0,100.00,1,0,1,0
3,2015-01-05 10:15:00,73970.0,74440.0,73620.0,74430.0,100.00,1,0,1,0
4,2015-01-05 10:20:00,74400.0,74720.0,74220.0,74410.0,100.00,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
410502,2024-12-17 23:25:00,72680.0,72720.0,72680.0,72690.0,43.72,1,1,1,1
410503,2024-12-17 23:30:00,72680.0,72690.0,72670.0,72690.0,43.74,1,1,1,1
410504,2024-12-17 23:35:00,72700.0,72790.0,72690.0,72790.0,43.86,1,1,1,1
410505,2024-12-17 23:40:00,72800.0,72820.0,72760.0,72810.0,44.03,1,1,1,1
410506,2024-12-17 23:45:00,72810.0,72860.0,72790.0,72850.0,44.16,1,1,1,1

### Сохранение в файл

In [60]:
df_m5.to_csv("df_m5_TVI_CCI_T3_GHL.csv", index=False)